<!-- GIANT JUMBOTRON TEXT -->
  <div class="jumbotron">
    <h1>Welcome to To-do using Angularjs</h1>
    <p>Add things to your list and never forget!!</p>
 <!--    <a href="#" id="go-button" class="btn btn-danger">Learn More</a> -->
  </div>

<!-- Create -->
<form ng-submit="addItem()">
  <div class="row">
  <div class= "col-md-4">
    <input type = "text" ng-model = "newItem.thing" placeholder="Enter your item" autofocus required>
    <button class="btn btn-primary">Add to the list</button>
  </div>
  </div>
</form>

<!-- Show -->
<ul ng-repeat = "item in items" | orderBy: 'thing' >
  <li >{{item.thing}}</li>
</ul>


  </div><!--/.row -->
</div><!--/.container -->
